html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Druk Cyr';
    src: local('Druk Cyr Medium'), local('Druk-Cyr-Medium'),
    url('../fonts/DrukCyr/DrukCyr.woff2') format('woff2'),
    url('../fonts/DrukCyr/DrukCyr.woff') format('woff'),
    url('../fonts/DrukCyr/DrukCyr.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    background: #130F13;
    overflow-x: hidden;
}

.container {
    /*border: 1px solid red;*/
    max-width: 156rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

/*Components*/
/*logo*/
.logo {
    max-width: 16.9rem;
    width: 100%;
}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

/*menu*/
.menu {
    display: flex;
}

.menu .menu__item:not(:last-child) {
    margin-right: 5.8rem;
}

.menu .menu__link {
    font-size: 1.6rem;
    line-height: 146.28%;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu__item.active {
    position: relative;
    border-bottom: 0.3rem solid #F41526;
    padding-bottom: 0.3rem;
}

.menu .menu__item.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, #FF0505 -397.7%, rgba(223, 56, 109, 0) 54.02%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 8.7rem;
}

.menu .menu__item.active .menu__link  {
    font-weight: 700;
}

/*footerMenu*/
.footerMenu {
    display: flex;
    flex-direction: column;
}

.footerMenu__item:not(:last-child) {
    margin-bottom: 2rem;
}

.footerMenu__item .footerMenu__link {
    font-size: 1.6rem;
    line-height: 146.28%;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}

.footerMenu__item.active .footerMenu__link {
    font-weight: 700;
}

/*title*/
.title {
    font-family: 'Druk Cyr', sans-serif;
    font-size: 7.266rem;
    line-height: 119.8%;
    background-image: linear-gradient(90.19deg, #FF2966 11.22%, #FF3750 26.02%, #FF9C40 50.66%, #FF6122 74.93%, #FF763F 74.93%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    white-space: nowrap;
}

/*activity*/
.activity {
    font-size: 2.4rem;
    line-height: 142%;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 4.5rem;
    position: relative;
    max-width: 40rem;
}

.activity::before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 1.3rem;
    background: #FF2A66;
}

/*action platform*/
.actionPlatform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 12.5rem;
    background: linear-gradient(90.19deg, #FF2966 11.22%, #FF3750 26.02%, #FF9C40 50.66%, #FF6122 74.93%, #FF763F 74.93%);
    border-radius: 0.4rem;
}

.actionPlatform__item {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: 700;
    color: #FFFFFF;
}

/*advantages card*/
.advantagesCard {
    display: flex;
}

.advantagesCard__icon {
    margin-right: 4rem;
}

.advantagesCard__content {
    max-width: 25.3rem;
    width: 100%;
}

.advantagesCard__title {
    font-size: 1.8rem;
    line-height: 153%;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.advantagesCard__description {
    font-size: 1.4rem;
    line-height: 154%;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.7;
}

/* about card */
.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.3rem;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.2);
    max-width: 54.2rem;
}

.card__description {
    font-size: 2.4rem;
    line-height: 180.8%;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 6rem;
}

.card__lables {
    display: flex;
}

.card__lable {
    display: flex;
    flex-direction: column;
}

.card__lable:not(:last-child) {
    margin-right: 3.9rem;
}

.card__lableTitle {
    font-size: 1.8rem;
    line-height: 146.3%;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.5;
}

.card__lableContent {
    font-size: 2.4rem;
    line-height: 146.3%;
    font-weight: 700;
    color: #FF3030;
}

/*padWithTitle*/
.padWithTitle {
    position: relative;
}

.padWithTitle_xs {
    max-width: 61.7rem;
    width: 100%;
}

.padWithTitle_lg {
    max-width: 71.7rem;
    width: 100%;
}

.padWithTitle__bg {
    width: 100%;
}

.padWithTitle__bg img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.padWithTitle__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*featuresCard*/
.featuresCard {
    max-width: 29.7rem;
    width: 100%;
    position: relative;
}

.featuresCard.featuresCard_withBorder {
    border: 0.3rem solid #474246;
    padding: 1.5rem 3rem;
    margin-bottom: 8.3rem;
}

.featuresCard.featuresCard_withBorder:after {
    content: '';
    width: 0.3rem;
    height: 8.6rem;
    background-color: #474246;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8.6rem;
}

.featuresCard.featuresCard_onlyText {
    font-size: 1.8rem;
    line-height: 153%;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.featuresCard.featuresCard_onlyTextWithBorder:after {
    content: '';
    width: 0.3rem;
    height: 9rem;
    background-color: #474246;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10.2rem;
}

.featuresCard.featuresCard_center {
    margin: 0 auto;
}

.featuresCard__title {
    font-size: 2.4rem;
    line-height: 142%;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}

.featuresCard__paragraph {
    font-size: 1.8rem;
    line-height: 153%;
    font-weight: 500;
    color: #bbb7ba;
}

/*border*/
.border {
    position: relative;
    height: 0.3rem;
    background-color: #474246;
}

/* Content */
/*header*/
.header {
    padding: 4.1rem 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* presentation */
.presentation {
    padding-top: 16.3rem;
    padding-bottom: 11.25rem;
}

.presentation__header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.presentation__title {
    margin-bottom: 3.4rem;
}

.presentation__paragraph {
    font-family: 'Alata', sans-serif;
    font-size: 2.4rem;
    line-height: 146%;
    color: #FFFFFF;
    max-width: 88.9rem;
    margin-bottom: 20rem;
}

.presentation__contact {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 146.28%;
    color: #FFFFFF;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    right: -6rem;
    top: 6.644rem;
}

.presentation__contact > span {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 0.8rem;
}

.presentation__footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.presentation__name {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 146.28%;
    color: #FFFFFF;
    margin-top: 0.8rem;
}

.presentation__arrow {
    width: 4.4rem;
    height: 8.5rem;
}

.presentation__arrow svg {
    color: #FFFFFF;
}

/*features*/
.features {
    padding-top: 11.25rem;
    padding-bottom: 11.25rem;
}

.features__title {
    text-align: center;
    margin-bottom: 12.7rem;
}

.featuresBlocks {
    display: flex;
    flex-direction: column;
}

.featuresBlocks__cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.featuresBlocks__cell.featuresBlocks__cell_border {
    margin-bottom: 7.2rem;
}

.featuresBlocks__cell.featuresBlocks__cell_border:after {
    content: '';
    width: 0.3rem;
    height: 5.3rem;
    background-color: #474246;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6.4rem;
}

.featuresBlocks__cell_onlyText {
    padding: 0 11.8rem;
    margin-bottom: 12.5rem;
}

.border.featuresBlocks__border {
    margin: 0 14.71rem 5.7rem;
}

.border.featuresBlocks__border_xs {
    max-width: 16.1rem;
    width: 100%;
}

.featuresBlocks__border:after {
    content: '';
    width: 0.3rem;
    height: 5.3rem;
    background-color: #474246;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5.3rem;
}

/* solutions */
.solutions {
    position: relative;
    padding-top: 11.25rem;
    padding-bottom: 15.7rem;
}

.solutionsBg {
    position: absolute;
    bottom: 15.7rem;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.solutions__title {
    margin-bottom: 4.9rem;
    margin-left: 10.4rem;
}

.solutionsList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 19.6rem;
    column-gap: 37.8rem;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset 0 0 6.8rem rgba(255, 255, 255, 0.05), inset 0 0.1rem 0.4rem rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8.6rem);
    border-radius: 1.7rem;
    padding: 10.2rem 0 10.2rem 10.4rem;
}

/* advantages */
.advantages {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.advantages__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantagesList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 9.8rem;
    column-gap: 10.5rem;
    max-width: 75.3rem;
}

/* about */
.about {
    padding-top: 15rem;
    padding-bottom: 18rem;
}

.about__container {
    display: flex;
    align-items: center;
}

.about__title {
    margin-right: 31.2rem;
}

/*footer*/
.footer {
    position: relative;
    padding-top: 18rem;
    padding-bottom: 7.2rem;
}

.footerBg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1560px) {
    .logo {
        max-width: 11.8rem;
    }

    .title {
        font-size: 3.93575rem;
        line-height: 119.8%;
    }

    /*presentation*/
    .presentation {
        padding-top: 8rem;
        padding-bottom: 10rem;
    }

    .presentation__title {
        margin-bottom: 2rem;
    }

    .presentation__contact {
        font-size: 1.4rem;
        line-height: 146.28%;
    }

    .presentation__paragraph {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 5.8rem;
    }

    .presentation__name {
        font-size: 1.2rem;
        line-height: 146.28%;
    }

    .presentation__arrow {
        width: 3.3rem;
        height: 6.3rem;
    }

    /*solutions*/
    .solutions {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .solutions__title {
        margin-left: 6rem;
        margin-bottom: 2.4rem;
    }

    .solutionsList {
        padding: 5.8rem;
        row-gap: 11.2rem;
        column-gap: 32%;
    }

    .activity {
        font-size: 1.6rem;
        line-height: 150%;
        padding-left: 2.6rem;
    }

    .activity:before {
        width: 0.6rem;
        height: 0.6rem;
    }

    /*features*/
    .features {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .features__title {
        margin-bottom: 6rem;
    }

    .featuresCard {
        max-width: 19.4rem;
    }

    .featuresCard.featuresCard_withBorder {
        padding: 1.4rem 1.6rem;
        margin-bottom: 3.8rem;
        border-width: 0.2rem;
    }

    .featuresCard.featuresCard_withBorder:after {
        width: 0.2rem;
        height: 4rem;
        bottom: -4rem;
    }

    .featuresCard__title {
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin-bottom: 0.2rem;
    }

    .featuresCard__paragraph {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .border {
        height: 0.2rem;
    }

    .border.featuresBlocks__border {
        margin: 0 9.65rem 4rem;
    }

    .featuresBlocks__border:after {
        width: 0.2rem;
        height: 4rem;
        bottom: -4rem;
    }

    .featuresCard.featuresCard_onlyText {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .featuresBlocks__cell.featuresBlocks__cell_border {
        margin-bottom: 4.6rem;
    }

    .featuresBlocks__cell.featuresBlocks__cell_border:after {
        width: 0.2rem;
        height: 4rem;
        bottom: -4.3rem;
    }

    .featuresCard.featuresCard_onlyTextWithBorder:after {
        width: 0.2rem;
        height: 4rem;
        bottom: -4.3rem;
    }

    .featuresBlocks__cell_onlyText {
        padding: 0 3.8rem;
        margin-bottom: 4.9rem;
    }

    .actionPlatform {
        padding: 1.3rem 6rem;
    }

    .actionPlatform__item {
        font-size: 1.02425rem;
        line-height: 153%;
    }

    /*advantages*/
    .advantages {
        padding-top: 10rem;
        padding-bottom: 7.5rem;
    }

    .padWithTitle_lg {
        max-width: 38rem;
    }

    .advantagesList {
        max-width: 52.3rem;
        row-gap: 1.8rem;
        column-gap: 3.3rem;
    }

    .advantagesCard__icon {
        margin-right: 1rem;
    }

    .advantagesCard__icon svg {
        width: 1.4rem;
    }

    .advantagesCard__content {
        max-width: 20.2rem;
    }

    .advantagesCard__title {
        font-size: 1.6rem;
        line-height: 122%;
        margin-bottom: 0.7rem;
    }

    .advantagesCard__description {
        font-size: 1.2rem;
        line-height: 143%;
    }

    /*about*/
    .about {
        padding-top: 7.5rem;
        padding-bottom: 8rem;
    }

    .about__title {
        margin-right: 0;
    }

    .about__container {
        justify-content: space-between;
    }

    .padWithTitle_xs {
        max-width: 32.6rem;
    }

    .card {
        max-width: 35.7rem;
        padding-bottom: 0.4rem;
        border-width: 0.2rem;
    }

    .card__description {
        font-size: 1.6rem;
        line-height: 180.8%;
        margin-bottom: 2rem;
    }

    .card__lable:not(:last-child) {
        margin-right: 2.4rem;
    }

    .card__lableTitle {
        font-size: 1.11192rem;
        line-height: 146.3%;
    }

    .card__lableContent {
        font-size: 1.48256rem;
        line-height: 146.3%;
    }

    /*footer*/
    .footer {
        padding-top: 8rem;
        padding-bottom: 5.3rem;
    }

    .footerMenu__item:not(:last-child) {
        margin-bottom: 0.9rem;
    }

    .footerMenu__item .footerMenu__link {
        font-size: 1.2rem;
        line-height: 146.28%;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}